.header {
    background-color: #DFCFB9;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu-left {
    display: flex;
}

.menu-right {
    display: flex;
}

.menu-item {
    padding: 20px 10px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 10px;
    margin: 4px;
    transition: all 0.3s ease-out;
}

.menu-item:hover {
    color: #527A63;
    background-color: #EFE7DC;
}

.active{
    font-weight: 900;
}