* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #151E19;
    font-family: 'Montserrat', sans-serif;
}

.auth-needed {
    margin-top: 18vh;
    display: flex;
    justify-content: center
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.full-content {
    background-color: #EFE7DC;
    min-height: calc(100vh - 70px);
}

.top-label {
    margin-top: 6px;
}

.form-select {
    margin-bottom: 6px;
    border: 1px solid #293D32;
    border-radius: 10px;
    font-size: 16px;
    padding: 6px;
    background-color: #EFE7DC
}

.form-input {
    margin: 10px 0;
    border: 1px solid #293D32;
    border-radius: 10px;
    padding: 8px 4px;
    background-color: #EFE7DC
}

.report-heading{
    font-weight: 800;
    margin-bottom: 2px;
}

.btn{
    border: 1px solid;
    padding: 8px;
    border-radius: 10px;
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
    color: #EFE7DC;
    transition: all 0.3s ease-out;
}

.btn-save{
    background-color: #293D32;
    border-color: #293D32;
}

.btn-save:hover{
    color: #293D32;
    background-color: transparent;
}

.btn-close{
    background-color: #86A0AC;
    border-color:#86A0AC;
}

.btn-close:hover{
    color: #86A0AC;
    background-color: transparent;
}
