.header {
  position: fixed;
  width: 100%;
  background-color: #BF9F73;
  z-index: 3;
}

.menu {
  display: flex;
  justify-content: space-between;
}
.menu-left {
  display: flex;
}
.menu-right {
  display: flex;
}
.menu-item {
  padding: 20px 10px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 10px;
  margin: 4px;
  transition: all 0.3s ease-out;
}
.menu-item:hover {
  color: #293D32;
  background-color: #EFE7DC;
  box-shadow: 4px 4px 8px #293D32;
}

.active {
  font-weight: 900;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #151E19;
  font-family: "Montserrat", sans-serif;
}

.auth-needed {
  margin-top: 18vh;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.full-content {
  background-color: #EFE7DC;
  min-height: 100vh;
  padding-top: 90px;
}

.top-label {
  margin-top: 6px;
}

.id-hidden {
  display: none;
}

.form-row {
  display: grid;
  grid-column: 1/-1;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.form-select {
  margin-bottom: 6px;
  border: 1px solid #293D32;
  border-radius: 10px;
  font-size: 16px;
  padding: 0 6px;
  background-color: #EFE7DC;
}
.form-input {
  border: 1px solid #293D32;
  border-radius: 10px;
  padding: 8px 4px;
  background-color: #EFE7DC;
}
.form-input__inactive {
  opacity: 0.5;
}

.btn {
  border: 1px solid;
  padding: 8px;
  border-radius: 10px;
  font-size: 16px;
  background-color: transparent;
  cursor: pointer;
  color: #EFE7DC;
  transition: all 0.3s ease-out;
}
.btn i {
  color: inherit;
}
.btn-save {
  background-color: #293D32;
  border-color: #293D32;
}
.btn-save:hover {
  color: #293D32;
  background-color: transparent;
}
.btn-close {
  background-color: #86A0AC;
  border-color: #86A0AC;
}
.btn-close:hover {
  color: #86A0AC;
  background-color: transparent;
}

.fa {
  padding: 0 4px;
}

.search-block {
  display: flex;
  align-items: center;
  justify-content: "flex-end";
  gap: 10px;
}
.search-block__form-input {
  min-width: 390px;
}

.report-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  border: 1px solid transparent;
  border-radius: 10px;
}
.report-heading {
  font-weight: 800;
  margin-bottom: 2px;
}
.report__form-input {
  margin: 10px 0;
}
.report-content {
  display: flex;
  flex-wrap: wrap;
}
.report-block {
  display: flex;
  flex-direction: column;
  margin: 20px;
  min-width: 360px;
  min-height: 360px;
  border: 1px solid #293D32;
  border-radius: 10px;
  padding: 12px;
  text-decoration: none;
  transition: all 0.3s ease-out;
  box-shadow: 6px 6px 12px #293D32;
}
.report-block:hover {
  transform: scale(1.02);
}
.report-block-content {
  display: flex;
  flex-direction: column;
}
.report-block-hoverable {
  cursor: pointer;
}
.report-block-hoverable:hover p {
  color: #EFE7DC;
  opacity: 1;
}
.report-block-hoverable:hover {
  background-color: #293D32;
}

.temp-block {
  margin: 20px;
  width: 0px;
  min-height: 360px;
  border: 1px solid #293D32;
  border-radius: 10px;
  transition: width 0.3s ease-out;
}

.big-plus {
  font-size: 250px;
  text-align: center;
  font-weight: 100;
  opacity: 0.5;
}

.date-row {
  display: flex;
  justify-content: space-between;
}

.button-block {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
  gap: 8px;
}

.dict {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.dict-block {
  max-width: 382.5px;
  border: 1px solid #293D32;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 143px;
  transition: scale 2s ease, max-height 0.6s ease-in-out, max-width 0.4s ease-in-out;
  overflow: hidden;
  box-shadow: 6px 6px 12px #293D32;
  cursor: pointer;
}
.dict-block:hover {
  transform: scale(1.03);
}
.dict-block__header {
  padding: 60px;
  background-color: #DFCFB9;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dict-block__search {
  display: none;
}
.dict-block__form-input {
  min-width: 390px;
}
.dict-block__section {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  height: auto;
}
.dict-block__row {
  display: grid;
  align-items: center;
  gap: 10px;
  padding: 8px 8px;
  border-radius: 10px;
}
.dict-block__row_right-margin {
  margin-right: 19px;
}
.dict-block__row:not(.report-heading):hover {
  background-color: #E1E7EA;
}
.dict-block__content {
  overflow: auto;
  height: calc(100% - 130px);
}
.dict-block__text {
  width: 100%;
}
.dict-block[open] {
  max-height: 632px;
  grid-row: span 4;
}
.dict-block[open]:hover {
  transform: scale(1);
}
.dict-block[open] .dict-block__search {
  display: flex;
  align-items: center;
  justify-content: "flex-end";
  gap: 10px;
}
.dict-block[open] .dict-block__header {
  padding: 20px;
  justify-content: space-between;
}
.dict-block__2[open] {
  max-width: 800px;
  grid-column: span 2;
}
.dict-block__3[open] {
  max-width: 1200px;
  grid-column: 1/4;
}
.dict-block__4[open] {
  max-width: 1600px;
  grid-column: 1/5;
}

.service-dict {
  grid-template-columns: 3fr 1fr;
}

.customer-type {
  grid-template-columns: 4fr 1fr 1fr 1fr;
}

.customer-group {
  grid-template-columns: 310px 210px 61px 3fr 4fr 105px 105px 90px 90px;
}

.customer {
  grid-template-columns: 80px 260px 110px 100px 140px 1fr 160px 90px 100px 120px;
}

.color {
  grid-template-columns: 1fr 8fr 4fr 2fr 4fr 2fr;
}

/*# sourceMappingURL=style.css.map */
