@import "vars";
@import "mixins";

.form-row__export{
  //margin-top: -16px;
  @include brd-standard;
  padding: 20px 30px;
  display: grid;
  gap: 30px;
  grid-template-columns: 2fr repeat(2, 1fr);
  width: 600px;
  align-items: center;
  position: relative;
}

.border-title{
  margin-left: 20px;
  @include brd-standard;
  border-color: transparent;
  padding: 8px;
  background-color: $colorSecondary100;
  z-index: 3;
  width: auto;
  position: absolute;
  top: -17px;
}