@import "vars";
@import "mixins";

.dict {
  color: $colorPrimary900;
  font-weight: 900;
  @include brd-standard;
  margin-bottom: 20px;

  &-header {
    padding: 20px;
    background-color: $colorSecondary200;
    border-radius: 10px;
  }

  &__form-input {
    background-color: inherit;
  }

  &-section {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: auto;

    &-block {
      width: 382.5px;
      margin: 0 4px;
      @include brd-standard;
      display: flex;
      flex-direction: column;
      font-weight: normal;
      height: 100%;
      max-height: 60px;
      transition: scale .5s ease,  max-height 0.5s ease-in-out ;
      overflow: hidden;
      box-shadow: 6px 6px 12px $colorPrimary800;


      &-2 {
        width: 775px;
      }

      &-3 {
        width: 1167.5px;
      }

      &-4 {
        width: 1560px;
      }

      &[open] {
        max-height: 2400px;
        overflow: auto;
      }

      &:hover {
        transform: scale(1.02);
      }

      &-row {
        display: grid;
        align-items: center;
        gap: 10px;
        padding: 8px 8px;
        border-radius: 10px;
        cursor: pointer;

        &:not(.report-heading):hover {
          background-color: $colorNeutral100;
        }
      }

      &-text {
        width: 100%;
      }
    }
  }

  &__btn-block {
    display: flex;
    justify-content: space-around;
  }
}

.service-dict{
  grid-template-columns: 3fr 1fr;
}

.customer-type {
  grid-template-columns: 4fr 1fr 1fr 1fr;
}

.customer-group{
  grid-template-columns: 310px 210px 61px 3fr 4fr 105px 105px 90px 90px;
}

