@import "vars";
@import "mixins";

.header {
  background-color: $colorSecondary200;
}

.menu {
  display: flex;
  justify-content: space-between;

  &-left {
    display: flex;
  }

  &-right {
    display: flex;
  }

  &-item {
    padding: 20px 10px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 10px;
    margin: 4px;
    transition: all 0.3s ease-out;

    &:hover {
      color: $colorPrimary600;
      background-color: $colorSecondary100;
    }
  }
}

.active {
  font-weight: 900;
}