@import "vars";
@import "mixins";

.import-file-modal {
  position: absolute;
  top: 25%;
  left: 25%;
  padding: 6px;
  background-color: $colorSecondary200;
  border-radius: 12px;
  display: none;
  box-shadow: 6px 6px 12px $colorPrimary800;
  &__body {
    position: relative;
    border: 1px solid $colorPrimary900;
    border-radius: 10px;
    margin: 6px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
  }
&__header{
  background-color: $colorSecondary200;
}
  &__input {
    border: 1px solid $colorPrimary900;
    border-radius: 10px;
    padding: 6px 8px;
    font-size: 16px;
    color: $colorPrimary800;
    margin: 20px 0 10px 0;
    width: 100%;
  }

  &__buttons {
    align-self: flex-end;
    display: flex;
    gap: 10px;
  }
}