@import "vars";
@import "mixins";

.report-list {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: calc(100% - 230px);

  &__row {
    font-size: 14px;
    display: grid;
    align-items: center;
    padding: 4px 20px;
    border: 1px solid $colorPrimary900;
    border-radius: 10px;
    cursor: pointer;
    grid-template-columns: 1fr 2fr repeat(3, 1fr) 2fr 1fr;
    transition: all 0.1s ease-out;
    box-shadow: 2px 2px 6px $colorPrimary700;

    & .btn {
      font-size: 14px;
      z-index: 5;
    }

    &:hover {
      background-color: $colorPrimary300;
      transform: scale(1.005);

    }
  }
}