@import "vars";
@import "mixins";

.report {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    border: 1px solid transparent;
    border-radius: 10px;
  }

  &-heading {
    font-weight: 800;
    margin-bottom: 2px;
  }

  &__form-input {
    margin: 10px 0;
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
  }

  &-block {
    display: flex;
    flex-direction: column;
    margin: 20px;
    min-width: 360px;
    min-height: 360px;
    @include brd-standard;
    padding: 12px;
    text-decoration: none;
    transition: all 0.3s ease-out;


    &-content {
      display: flex;
      flex-direction: column;
    }

    &-hoverable {
      cursor: pointer;


      &:hover p {
        color: $colorSecondary100;
        opacity: 1;
      }

      &:hover {
        background-color: #293D32;
      }
    }
  }
}

.temp-block {
  margin: 20px;
  width: 0px;
  min-height: 360px;
  @include brd-standard;
  transition: width 0.3s ease-out;
}


.big-plus {
  font-size: 250px;
  text-align: center;
  font-weight: 100;
  opacity: 0.5;
}

.date-row {
  display: flex;
  justify-content: space-between;
}

.button-block {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
  gap: 8px;
}