@import "vars";
@import "mixins";

.report {
  &_button-block {
    margin: 10px 0;
  }

  &_dropdown {
    margin-bottom: 6px;
  }

  //&-header {
  //  display: flex;
  //  justify-content: space-between;
  //  align-items: center;
  //  gap: 8px;
  //  border: 1px solid transparent;
  //  border-radius: 10px;
  //}

  //&-heading {
  //  font-weight: 800;
  //  margin-bottom: 2px;
  //}

  &__form-input {
    margin: 10px 0;

    &_index {
      margin: 10px 0;
      min-width: 160px;
    }
  }

  &-content {
    display: flex;
    flex-wrap: wrap;

    &_index {
      display: flex;
    }

  }

  &-block {
    display: flex;
    flex-direction: column;
    margin: 20px;
    min-width: 360px;
    //min-height: 360px;
    @include brd-standard;
    padding: 12px;
    text-decoration: none;
    transition: all 0.3s ease-out;
    box-shadow: 6px 6px 12px $colorPrimary800;
    position: relative;

    &:hover {
      transform: scale(1.02);
      z-index: 5;
    }


    &-content {
      display: flex;
      flex-direction: column;
    }


    &-hoverable {
      cursor: pointer;


      &:hover p {
        color: $colorSecondary100;
        opacity: 1;
      }

      &:hover .border-title {
        border-color: $colorPrimary800;
      }

      &:hover {
        background-color: $colorPrimary400;
      }

      &_index {
        min-height: 40px;
        min-width: 160px;
        margin: 12px 0;
      }
    }

    &_modal {
      display: none;
      position: absolute;
      left: 400px;
      top: 200px;
      min-width: 500px;
      padding: 16px;
      background-color: $colorSecondary300;
    }
  }
}

.temp-block {
  margin: 20px;
  width: 0px;
  min-height: 360px;
  @include brd-standard;
  transition: width 0.3s ease-out;
}


.zero-width {
  min-width: 0;
  width: 0;
}

.temp-width {
  min-width: 360px;
}


.big-plus {
  font-size: 250px;
  text-align: center;
  font-weight: 100;
  opacity: 0.5;
}

.date-row {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;

  &_index {
    justify-content: space-around;
    padding: 0 16px;
  }
}

.report-long {
  max-width: 1500px;
  min-width: 1160px;

  &__header {
    background-color: $colorSecondary200;
    padding: 2px 10px;
    @include d-flex-center(space-between);
    @include brd-standard;
  }

  &_parameter {
    margin-bottom: 0;
    max-width: 220px;
  }

  &_period {
    margin-bottom: 0;
    max-width: 120px;
  }
}

.report__remove {
  border: none;
  padding: 0;
  margin: 0;
  min-width: 0;
  width: 0;
}
