{% extends 'header.html' %}
{% load static %}
{% block title %}Импорт{% endblock %}
{% block content %}
{#    <script type="module" src="{%  static 'marketing_report/js/customer.js' %}" defer></script>#}
    <script type="module" src="{%  static 'marketing_report/js/dist/customer.bundle.js' %}" defer></script>
    <div class="full-content">
        <div class="container">
        </div>

    </div>

    <div hidden id="technical-data">
        <div id="periods">{{ json_period }}</div>

    </div>
{% endblock %}
