{% extends 'header.html' %}
{% load static %}
{% block title %}Настройки{% endblock %}
{% block content %}
    <script type="module" src="{% static 'marketing_report/js/dictionary.js' %}" defer></script>

    <div class="full-content">
        <div class="container">
            <div class="dict-main">
                <div class="dict-menu">
                    <details class="dict-menu__details">
                        <summary class="dict-menu__header">Клиенты
                        </summary>
                        <div class="dict-menu__item">
                            <input type="checkbox" class="checkbox-out" id="customer">
                            <label for="customer"><i class="fa fa-solid fa-sack-xmark"></i>&nbsp;Клиенты</label>
                        </div>
                        <div class="dict-menu__item">
                            <input type="checkbox" class="checkbox-out" id="customerGroup">
                            <label for="customerGroup"><i class="fa fa-solid fa-sack-xmark"></i>&nbsp;Группы
                                клиентов</label>
                        </div>
                        <div class="dict-menu__item">
                            <input type="checkbox" class="checkbox-out" id="customerType">
                            <label for="customerType"><i
                                    class="fa fa-solid fa-sack-xmark"></i>&nbsp;Типы клиентов</label>
                        </div>
                    </details>
                    <details class="dict-menu__details">
                        <summary class="dict-menu__header">Товары
                        </summary>
                        <div class="dict-menu__item">
                            <input type="checkbox" class="checkbox-out" id="goods">
                            <label for="goods"><i class="fa fa-regular fa-pen-to-square"></i>&nbsp;Товары</label>
                        </div>
                        <div class="dict-menu__item">
                            <input type="checkbox" class="checkbox-out" id="matrixType">
                            <label for="matrixType"><i class="fa fa-regular fa-pen-to-square"></i>&nbsp;Товарная
                                матрица</label>
                        </div>
                        <div class="dict-menu__item">
                            <input type="checkbox" class="checkbox-out" id="crmType">
                            <label for="crmType"><i class="fa fa-regular fa-pen-to-square"></i>&nbsp;Товарные
                                группы</label>
                        </div>
                    </details>
                    <details class="dict-menu__details">
                        <summary class="dict-menu__header">Цвета
                        </summary>
                        <div class="dict-menu__item">
                            <input type="checkbox" class="checkbox-out" id="colorScheme">
                            <label for="colorScheme"><i class=" fa fa-solid fa-paintbrush"></i>&nbsp;Цветовая
                                группа</label>
                        </div>
                        <div class="dict-menu__item">
                            <input type="checkbox" class="checkbox-out" id="color">
                            <label for="color"><i class=" fa fa-solid fa-paintbrush"></i>&nbsp;Цвета</label>
                        </div>
                    </details>
                    <details class="dict-menu__details">
                        <summary class="dict-menu__header">Прочие справочники</summary>
                        <div class="dict-menu__item">
                            <input type="checkbox" class="checkbox-out" id="printType">
                            <label for="printType"><i class="fa fa-solid fa-earth-africa"></i>&nbsp;Тип печати</label>
                        </div>
                    </details>
                </div>
                <div class="dict-right">

                </div>
                <div class="dict" style="display: none;">
                    <details class="dict-block dict-block__3">
                        <summary class="dict-block__header dict-block__header_block-space">
                            <div class="dict-block__active"><i class=" fa fa-solid fa-paintbrush"></i>Цвета</div>
                            <div class="dict-block__search">
                                <i class="fa fa-solid fa-magnifying-glass"></i>
                                <input type="search" class="form-input dict-block__form-input"
                                       placeholder="искать...">
                                <button class="btn btn-save search_submit" type="button">поиск</button>
                                <button class="btn btn-close search_clear" type="button">очистить</button>
                            </div>
                        </summary>
                        <div class="dict-block__row dict-block__active color dict-block__row_right-margin">
                            <div>Код</div>
                            <div>Название</div>
                            <div>Pantone</div>
                            <div>#HEX</div>
                            <div>Группа</div>
                            <div>Стандарт</div>
                            <button class="btn btn-save btn_add">добавить</button>
                        </div>
                        <div class="dict-block__content">
                            <div class="dict-block__row color dict-block__row_hidden" data-id="0"
                                 id="color-0">
                                <input class="id-hidden" name="id" value="0">
                                <div class="dict-block__text" data-name="code" data-field="code"></div>
                                <div class="dict-block__text" data-name="name" data-field="name"></div>
                                <div class="dict-block__text" data-name="pantone" data-field="pantone"></div>
                                <div class="dict-block__text" data-name="hex" data-field="hex"></div>
                                <div class="dict-block__text foreign-key"
                                     data-name="color_scheme" data-field="color_scheme" data-id=""></div>
                                <div class="dict-block__text bool-field" data-name="standard"
                                     data-field="standard"></div>
                                <button class="btn btn-close btn_delete" type="button">удалить</button>
                            </div>
                        </div>
                    </details><!-- цвета -->
                    <details class="dict-block">
                        <summary class="dict-block__header">
                            <div class="dict-block__active"><i class="fa fa-flip fa-solid fa-paintbrush"></i>Цветовая
                                группа
                            </div>
                        </summary>
                        <div class="dict-block__row dict-block__active service-dict">
                            <div>Цветовая группа</div>
                            <button class="btn btn-save btn_add">добавить</button>
                        </div>
                        <div class="dict-block__content ">
                            <div class="dict-block__row service-dict dict-block__row_hidden" data-id="0"
                                 id="colorScheme-0">
                                <input class="id-hidden" name="id" value="0">
                                <div class="dict-block__text" data-field="name"
                                     data-name="name"></div>
                                <button class="btn btn-close btn_delete" type="button">
                                    удалить
                                </button>
                            </div>
                        </div>
                    </details><!-- Цветовая группа -->
                    <details class="dict-block">
                        <summary class="dict-block__header">
                            <div class="dict-block__active"><i class="fa fa-flip fa-solid fa-earth-africa"></i>Тип
                                печати
                            </div>
                        </summary>
                        <div class="dict-block__row dict-block__active service-dict">
                            <div>Тип печати</div>
                            <button class="btn btn-save btn_add">добавить</button>
                        </div>
                        <div class="dict-block__content ">
                            <div class="dict-block__row service-dict dict-block__row_hidden" data-id="0"
                                 id="printType-0">
                                <input class="id-hidden" name="id" value="0">
                                <div class="dict-block__text" data-field="name"
                                     data-name="name"></div>
                                <button class="btn btn-close btn_delete" type="button">
                                    удалить
                                </button>
                            </div>
                        </div>
                    </details><!-- Тип печати -->
                    <details class="dict-block dict-block__4">
                        <summary class="dict-block__header dict-block__header_block-space">
                            <div class="dict-block__active"><i class=" fa-flip fa fa-regular fa-pen-to-square"></i>Товары
                            </div>
                            <div class="dict-block__search">
                                <i class="fa fa-solid fa-magnifying-glass"></i>
                                <input type="search" class="form-input dict-block__form-input"
                                       placeholder="искать...">
                                <button class="btn btn-save search_submit" type="button">поиск</button>
                                <button class="btn btn-close search_clear" type="button">очистить</button>
                            </div>
                        </summary>
                        <div class="dict-block__row dict-block__active goods dict-block__row_right-margin">
                            <div>Название</div>
                            <div>Артикул</div>
                            <div>Эко</div>
                            <div>Тип</div>
                            <div>Группа</div>
                            <div>Цветовая группа</div>
                            <div>Многоцветный</div>
                            <div>Первая продажа</div>
                            <div>Последняя продажа</div>
                            <button class="btn btn-save btn_add">добавить</button>
                        </div>
                        <div class="dict-block__content">
                            <div class="dict-block__row goods dict-block__row_hidden" data-id="0"
                                 id="goods-0">
                                <input class="id-hidden" name="id" value="0">
                                <div class="dict-block__text" data-name="name" data-field="name"></div>
                                <div class="dict-block__text"
                                     data-name="item_code" data-field="item_code"></div>
                                <div class="dict-block__text bool-field"
                                     data-name="eco" data-field="eco" data-id=""></div>
                                <div class="dict-block__text foreign-key"
                                     data-name="matrix_type" data-field="matrix_type" data-id=""></div>
                                <div class="dict-block__text foreign-key"
                                     data-name="crm_type" data-field="crm_type" data-id=""></div>
                                <div class="dict-block__text foreign-key"
                                     data-name="color_scheme" data-field="color_scheme" data-id=""></div>
                                <div class="dict-block__text bool-field"
                                     data-name="multicolor" data-field="multicolor" data-id=""></div>
                                <div class="dict-block__text" data-field="date_first"></div>
                                <div class="dict-block__text" data-field="date_last"></div>
                                <button class="btn btn-close btn_delete" type="button">удалить</button>
                            </div>
                        </div>
                    </details><!-- товары -->
                    <details class="dict-block">
                        <summary class="dict-block__header">
                            <div class="dict-block__active"><i class=" fa-flip fa fa-regular fa-pen-to-square"></i>Товарная
                                матрица
                            </div>
                        </summary>
                        <div class="dict-block__row dict-block__active service-dict dict-block__row_right-margin">
                            <div>Товарная матрица</div>
                            <button class="btn btn-save btn_add">добавить</button>
                        </div>
                        <div class="dict-block__content ">
                            <div class="dict-block__row service-dict dict-block__row_hidden" data-id="0"
                                 id="matrixType-0">
                                <input class="id-hidden" name="id" value="0">
                                <div class="dict-block__text" data-field="name" data-name="name"></div>
                                <button class="btn btn-close btn_delete" type="button">
                                    удалить
                                </button>
                            </div>
                        </div>
                    </details><!-- Товарная матрица -->
                    <details class="dict-block">
                        <summary class="dict-block__header">
                            <div class="dict-block__active"><i class=" fa-flip fa fa-regular fa-pen-to-square"></i>Группы
                                товаров
                            </div>
                        </summary>
                        <div class="dict-block__row dict-block__active service-dict">
                            <div>Группы товаров</div>
                            <button class="btn btn-save btn_add">добавить</button>
                        </div>
                        <div class="dict-block__content ">
                            <div class="dict-block__row service-dict dict-block__row_hidden" data-id="0" id="crmType-0">
                                <input class="id-hidden" name="id" value="0">
                                <div class="dict-block__text" data-name="name" data-field="name"></div>
                                <button class="btn btn-close btn_delete" type="button">
                                    удалить
                                </button>
                            </div>
                        </div>
                    </details><!-- Группы товаров -->
                    <details class="dict-block dict-block__2">
                        <summary class="dict-block__header">
                            <div class="dict-block__active"><i class="fa fa-flip fa-solid fa-sack-xmark"></i>Типы&nbsp;клиентов
                            </div>
                        </summary>
                        <div class="dict-block__row dict-block__active customer-type dict-block__row_right-margin">
                            <div>Тип клиента</div>
                            <div>Скидка</div>
                            <div>Код</div>
                            <button class="btn btn-save btn_add">добавить</button>
                        </div>
                        <div class="dict-block__content ">
                            <div class="dict-block__row customer-type dict-block__row_hidden" data-id="0"
                                 id="customerType-0">
                                <input class="id-hidden" name="id" value="0">
                                <div class="dict-block__text" data-field="name" data-name="name"></div>
                                <div class="dict-block__text" data-field="group_discount"
                                     data-name="group_discount"></div>
                                <div class="dict-block__text" data-field="code" data-name="code"></div>
                                <button class="btn btn-close btn_delete" type="button">удалить</button>
                            </div>
                        </div>
                    </details><!-- типы клиентов -->

                    <details class="dict-block dict-block__4">
                        <summary class="dict-block__header dict-block__header_block-space">
                            <div class="dict-block__active"><i class="fa fa-flip fa-solid fa-sack-xmark"></i>Группы&nbsp;клиентов
                            </div>
                            <div class="dict-block__search">
                                <div class="modal__check">
                                    <input type="checkbox" class="unclosed" checked>
                                    <label for="unclosed" class="light-color">скрыть неактивных</label>
                                </div>
                                <i class="fa fa-solid fa-magnifying-glass"></i>
                                <input type="search" class="form-input dict-block__form-input" placeholder="искать...">
                                <button class="btn btn-save search_submit" type="button">поиск</button>
                                <button class="btn btn-close search_clear" type="button">очистить</button>
                            </div>
                        </summary>
                        <div class="dict-block__row dict-block__active customer-group dict-block__row_right-margin">
                            <div>Группа</div>
                            <div>Тип группы</div>
                            <div>Телефон</div>
                            <div>E-mail</div>
                            <div>Первая продажа</div>
                            <div>Последняя продажа</div>
                            <div></div>
                            <button class="btn btn-save btn_add">добавить</button>
                        </div>
                        <div class="dict-block__content">
                            <div class="dict-block__row customer-group dict-block__row_hidden" data-id="0"
                                 id="customerGroup-0">
                                <input class="id-hidden" name="id" value="0">
                                <div class="dict-block__text" data-name="name" data-field="name"></div>
                                <div class="dict-block__text foreign-key"
                                     data-name="customer_type" data-field="customer_type" data-id=""></div>
                                <div class="dict-block__text" data-name="phone" data-field="phone"></div>
                                <div class="dict-block__text" data-name="mail" data-field="mail"></div>
                                <div class="dict-block__text" data-field="date_first"></div>
                                <div class="dict-block__text" data-field="date_last"></div>
                                <button class="btn btn-save" type="button">состав</button>
                                <button class="btn btn-close btn_delete" type="button">удалить</button>
                            </div>
                        </div>
                    </details><!-- группы клиентов -->
                    <details class="dict-block dict-block__4">
                        <summary class="dict-block__header dict-block__header_block-space">
                            <div class="dict-block__active"><i class="fa fa-flip fa-solid fa-sack-xmark"></i>Клиенты
                            </div>
                            <div class="dict-block__search">
                                <div class="modal__check">
                                    <input type="checkbox" class="unclosed" checked>
                                    <label for="unclosed" class="light-color">скрыть неактивных</label>
                                </div>

                                <i class="fa fa-solid fa-magnifying-glass"></i>
                                <input type="search" class="form-input dict-block__form-input"
                                       placeholder="искать...">
                                <button class="btn btn-save search_submit" type="button">поиск</button>
                                <button class="btn btn-close search_clear" type="button">очистить</button>
                            </div>
                        </summary>
                        <div class="dict-block__row customer  dict-block__active dict-block__row_right-margin">
                            <div>Название</div>
                            <div></div>
                            <div>ИНН</div>
                            <div>Тип</div>
                            <div>Группа</div>
                            <div>Адрес</div>
                            <div>Телефон</div>
                            <div>Первая продажа</div>
                            <div>Последняя продажа</div>
                            <div></div>
                        </div>
                        <div class="dict-block__content">
                            <div class="dict-block__row customer dict-block__row_hidden" data-id="0"
                                 id="customer-0">
                                <input class="id-hidden" name="id" value="0">
                                <div class="dict-block__text" data-field="form"></div>
                                <div class="dict-block__text" data-field="name"></div>
                                <div class="dict-block__text" data-field="inn"></div>
                                <div class="dict-block__text foreign-key"
                                     data-name="customer_type" data-field="customer_type"
                                     data-id=""></div>
                                <div class="dict-block__text foreign-key"
                                     data-name="customer_group" data-field="customer_group"
                                     data-id=""></div>
                                <div class="dict-block__text" data-field="address"></div>
                                <div class="dict-block__text" data-field="phone"></div>
                                <div class="dict-block__text" data-field="date_first"></div>
                                <div class="dict-block__text" data-field="date_last"></div>
                                <button class="btn btn-close" type="button">полная информация</button>
                            </div>
                        </div>
                    </details><!-- клиенты -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
