<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Маркетинг</title>
    <link rel="icon" type="image/x-icon" href="{% static 'marketing_report/icon/people-robbery-solid.svg' %}">

    <script type="module" src="{% static 'marketing_report/js/login.js' %}" defer></script>
    <script src="https://kit.fontawesome.com/e2a5b405b2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'marketing_report/css/style.css' %}">

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

</head>
<body>

<header class="header">
    <div class="container">
        <div class="menu__mobile menu__item"><i class="fa fa-solid fa-bars"></i></div>
        <menu class="menu">
            <div class="menu__left">
                <a href="http://10.0.1.17/wcenter/"
                   class="menu__item"><span class="mobile__hide"><i class="light-color fa fa-solid fa-arrows-to-circle"></i></span>
                    <span class="mobile__show">&nbsp;Центр</span>
                </a>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'marketing_report:main' %}"
                       class="menu__item {% if navi == 'main' %}active__menu{% endif %}">Главная</a>
                    <a href="{% url 'marketing_report:reports' %}"
                       class="menu__item {% if navi == 'reports' %}active__menu{% endif %}">Отчеты</a>
                    <a href="{% url 'marketing_report:customer' %}"
                       class="menu__item {% if navi == 'customer' %}active__menu{% endif %}">Клиенты</a>
                    <a href="{% url 'marketing_report:dictionary' %}"
                       class="menu__item {% if navi == 'dictionary' %}active__menu{% endif %}">Настройки</a>
                    <a href="{% url 'marketing_report:imports' %}"
                       class="menu__item {% if navi == 'imports' %}active__menu{% endif %}">Импорт</a>
                {% else %}
                    <p class="menu__item">Маркетинг V6.0.0 <strong>Авторизуйтесь</strong></p>
                {% endif %}
                {% if request.user.is_superuser %}
                    <a href="{% url 'marketing_report:admin_site' %}" class="menu__item">Админ</a>
                {% endif %}
            </div>
            <nav class="menu__right">
                {% if request.user.is_authenticated %}
                    <div class="menu__item active__menu"
                         id="logout-button">{{ request.user.first_name }}&nbsp;{{ request.user.last_name }}<i
                            class="light-color fa fa-solid fa-arrow-right-from-bracket"></i></div>
                    <div class="menu__item" id="login-button" hidden> вход</div>
                {% else %}
                    <div class="menu__item active__menu" id="login-button"><i
                            class="light-color fa fa-solid fa-arrow-right-to-bracket"></i>&nbsp;вход
                    </div>
                    <div class="menu__item" hidden> выход</div>
                {% endif %}
                <div class="menu__item">ver 6.0.0</div>
            </nav>
        </menu>
    </div>
</header>

{% if request.user.is_authenticated %}
    {% block content %}
    {% endblock %}
{% else %}
    <div class="container">
        <div class="auth-needed">
            <svg xmlns="http://www.w3.org/2000/svg" height="50vh" viewBox="0 0 512 512" fill="#536D79">
                <path d="M99.5 144.8L178.7 224l96 96 92.5 92.5C335.9 434.9 297.5 448 256 448C150 448 64 362 64 256c0-41.5 13.1-79.9
    35.5-111.2zM333.3 288l-32-32H384v32H333.3zm32 32H400c8.8 0 16-7.2 16-16V240c0-8.8-7.2-16-16-16H269.3L144.8
    99.5C176.1 77.1 214.5 64 256 64c106 0 192 86 192 192c0 41.5-13.1 79.9-35.5 111.2L365.3 320zM256 512A256 256 0 1 0
    256 0a256 256 0 1 0 0 512zM272 96c-8.8 0-16 7.2-16 16c0 26.5 21.5 48 48 48h32c8.8 0 16 7.2 16 16s7.2 16 16 16s16-7.2
    16-16c0-26.5-21.5-48-48-48H304c-8.8 0-16-7.2-16-16s-7.2-16-16-16zM229.5 320l-96-96H112c-8.8 0-16 7.2-16 16v64c0 8.8
    7.2 16 16 16H229.5z"></path>
            </svg>
        </div>
    </div>
{% endif %}

<!-- Модальное окно для входа и выхода -->
<div id="authModal" class="login">
    <div class="login__content">
        <!-- Форма для входа -->
        <form method="post" id="login-form" action="{% url 'marketing_report:custom_login' %}">
            {% csrf_token %}
            <div class="login__header">
                <p class="active">Вход</p>
                <span class="login__close">&times;</span>
            </div>

            <input type="text" name="username" placeholder="Имя пользователя" required class="login__input">
            <input type="password" name="password" placeholder="Пароль" required class="login__input">
            <div class="login__buttons">
                <button type="submit" class="btn btn-save">Войти</button>
            </div>
        </form>

        <!-- Форма для выхода -->
        <form method="post" id="logout-form" action="{% url 'marketing_report:custom_logout' %}">
            {% csrf_token %}
            <div class="login__header">
                <p class="active">Выход</p>
                <span class="login__close">&times;</span>
            </div>
            <p class="login__text">Вы уверены, что хотите выйти?</p>
            <div class="login__buttons">
                <button type="submit" class="btn btn-save">Выйти</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>