{% extends 'header.html' %}
{% load static %}
{% block title %}Импорт{% endblock %}
{% block content %}
{#    <script src="{% static 'marketing_report/js/imports.js' %}" defer type="module"></script>#}
    <script src="{% static 'marketing_report/js/dist/imports.bundle.js' %}" defer type="module"></script>
    <div class="full-content">
        <div class="container">
            <details class="imports">
                <summary class="active__menu dict-block__header">Операции импорта клиентов</summary>
                <div class="imports__block">
                    <div class="form-row__import">
                        <h4 class="active border-title">1. Загрузить клиентов во временную базу </h4>
                        <div class="import-block__description">загрузить файл с csv</div>
                        <div>импортировано {{ cst_date|date:'d.m.Y' }}</div>
                        <div>записей в базе {{ customers_imported }}</div>
                        <div id="result" class="import-block__description alert"></div>
                        <button type="button" class="btn btn-save">импорт</button>
                    </div>
                    <div class="form-row__import">
                        <h4 class="active border-title">2. Обработка временной базы</h4>
                        <div class="import-block__description form-row__double">Поиск новых, измененных и внутренних
                            клиентов
                        </div>
                        <div id="new-customers" class="alert"></div>
                        <div id="updated-customers" class="alert"></div>
                        <button type="button" class="btn btn-save">обработать</button>
                    </div>
                    <div class="form-row__import">
                        <h4 class="active border-title">3.1 Импорт новых клиентов в БД</h4>
                        <div class="import-block__description form-row__double">импорт новых клиентов в основную базу
                        </div>
                        <div>новые клиенты {{ customers_new }}</div>
                        <div id="import_new_customers"></div>
                        <button type="button" class="btn btn-save">импорт</button>
                    </div>
                    <div class="form-row__import">
                        <h4 class="active border-title">3.2 Импорт измененных клиентов в БД</h4>
                        <div class="import-block__description form-row__double">импорт измененных клиентов в основную
                            базу (опционально)
                        </div>
                        <div>измененные клиенты {{ customers_changed }}</div>
                        <div id="import_changed_customers"></div>
                        <button type="button" class="btn btn-save">импорт</button>
                    </div>
                </div>
            </details>
            <details class="imports">
                <summary class="active__menu dict-block__header">Операции импорта продаж</summary>
                <div class="imports__block">
                    <div class="form-row__import">
                        <h4 class="active border-title">1. Загрузить отгрузки во временный файл</h4>
                        <div class="import-block__description">загрузить файл с csv</div>
                        <div>импортировано {{ sales_date|date:'d.m.Y' }}</div>
                        <div>записей в базе {{ import_sales }}</div>
                        <div id="resultSales" class="import-block__description alert"></div>
                        <button type="button" class="btn btn-save">импорт</button>
                    </div>
                </div>
                <div class="imports__block">
                    <div class="form-row__import form-row__import_reduce">
                        <h4 class="active border-title">2. Обработка первых и последних отгрузок клиентов</h4>
                        <div class="import-block__description">Устанавливает первую и последнюю отгрузки по клиентам по
                            группам клиентов и устанавливает флаг "активен"
                        </div>
                        <div id="firstLastDate" class="import-block__description alert"></div>
                        <button type="button" class="btn btn-save">обработать</button>
                    </div>
                </div>
            </details>
            <details class="imports">
                <summary class="active__menu dict-block__header">Периоды расчета</summary>
                <div class="imports__block">
                    <form class="form-row__import" method="post" action="{% url 'marketing_report:reassign_periods' %}">
                        {% csrf_token %}
                        <h4 class="active border-title">1. Добавить периоды расчета</h4>
                        <label for="period-begin">первый год диапазона (<span
                                class="alert">{{ period_begin|date:'Y' }}</span>)</label>
                        <input type="number" min="1900" max="2500" step="1" id="period-begin" class="form-input"
                               name="start_date" required>
                        <label for="period-end">последний год диапазона (<span
                                class="alert">{{ period_end|date:'Y' }}</span>)</label>
                        <input type="number" min="1900" max="2500" step="1" id="period-end" class="form-input"
                               name="end_date" required>
                        <button type="submit" class="btn btn-save">добавить</button>
                    </form>

                </div>
            </details>
        </div>
    </div>
    <!--- Import file modal -->
    <div class="import-file-modal" id="import-file-modal">
        <form class="import-file-modal__body" method="post" enctype="multipart/form-data"
              action="{% url 'marketing_report:import_file' %}">
            {% csrf_token %}
            <input type="text" name="file_name" id="file-name" hidden>
            <div class="border-title active import-file-modal__header">Импорт из .csv</div>
            <div class="import-file-modal__content">
                <input type="file" accept=".csv" required class="import-file-modal__input" name="loaded_file">
            </div>
            <div class="import-file-modal__buttons">
                <button type="button" class="btn btn-close modal-close">закрыть</button>
                <button type="submit" class="btn btn-save">загрузить</button>
            </div>
        </form>
    </div>

    <div hidden id="technical-data">
        <div id="periods">{{ json_period }}</div>
    </div>
{% endblock %}
