{% extends 'header.html' %}
{% load static %}
{% block title %}Импорт{% endblock %}
{% block content %}
    <div class="full-content">
        <div class="container">
            <details class="imports">
                <summary class="active dict-block__header">Операции с клиентами</summary>
                <div class="imports__block">
                    <div class="form-row__import">
                        <h4 class="active border-title">1. Загрузить клиентов во временную базу </h4>
                        <div class="import-block__description">загрузить файл с csv</div>
                        <div>импортировано {{ cst_date|date:'d.m.Y' }}</div>
                        <div>записей в базе {{ customers_imported }}</div>
                        <div id="result" class="import-block__description alert"></div>
                        <button type="submit" class="btn btn-save" onclick="importFileModal(this, 'customers');">
                            импорт
                        </button>
                    </div>
                    <div class="form-row__import">
                        <h4 class="active border-title">2. Обработка временной базы</h4>
                        <div class="import-block__description form-row__double">Поиск новых, измененных и внутренних
                            клиентов
                        </div>
                        <div id="new-customers" class="alert"></div>
                        <div id="updated-customers" class="alert"></div>
                        <button type="button" class="btn btn-save" onclick="editTemporaryBase();">обработать</button>
                    </div>
                    <div class="form-row__import">
                        <h4 class="active border-title">3.1 Импорт новых клиентов в БД</h4>
                        <div class="import-block__description form-row__double">импорт новых клиентов в основную базу
                        </div>
                        <div>новые клиенты {{ customers_new }}</div>
                        <div id="import_new_customers"></div>
                        <button type="button" class="btn btn-save" onclick="importCustomers('import_new_customers');">
                            импорт
                        </button>
                    </div>
                    <div class="form-row__import">
                        <h4 class="active border-title">3.2 Импорт измененных клиентов в БД</h4>
                        <div class="import-block__description form-row__double">импорт измененных клиентов в основную
                            базу (опционально)
                        </div>
                        <div>измененные клиенты {{ customers_changed }}</div>
                        <div id="import_changed_customers"></div>
                        <button type="button" class="btn btn-save"
                                onclick="importCustomers('import_changed_customers')">импорт
                        </button>
                    </div>
                </div>
            </details>
            <details class="imports">
                <summary class="active dict-block__header">Операции с продажами</summary>
                <div class="imports__block"></div>
            </details>
        </div>
    </div>
    <!--- Import file modal -->
    <div class="import-file-modal" id="import-file-modal">
        <form class="import-file-modal__body" method="post" enctype="multipart/form-data"
              action="{% url 'marketing_report:import_file' %}">
            {% csrf_token %}
            <input type="text" name="file_name" id="file-name" hidden>
            <div class="border-title active import-file-modal__header">Импорт из .csv</div>
            <div class="import-file-modal__content">
                <input type="file" accept=".csv" required class="import-file-modal__input" name="loaded_file">
            </div>
            <div class="import-file-modal__buttons">
                <button type="button" class="btn btn-close" onclick="importFileModalClose(this);">закрыть</button>
                <button type="submit" class="btn btn-save">загрузить</button>
            </div>
        </form>
    </div>

    <div hidden id="technical-data">
        <div id="periods">{{ json_period }}</div>
    </div>
    <script src="{% static 'marketing_report/js/imports.js' %}"></script>
{% endblock %}
