{% extends 'header.html' %}
{% load static %}
{% block title %}Отчеты{% endblock %}
{% block content %}
    <div class="full-content">
        <div class="container">
            <section class="report-content">
                <div class="report-block" id="report-1">
                    <p class="report-heading">Отчет по клиентам</p>
                    <label for="report-1" class="top-label">тип отчета</label>
                    <select class="form-select" id="report-select-1">
                        {% for report in cst_reports %}
                            <option value="{{ report.code }}">{{ report.description }}</option>
                        {% endfor %}
                    </select>
                    <label for="period-1" class="top-label">период</label>
                    <select class="form-select" id="period-select-1">
                        {% for period in periods %}
                            <option value="{{ period.value }}">{{ period.label }}</option>
                        {% endfor %}
                    </select>
                    <div class="date-row">
                        <div>c&nbsp;<input type="date" class="form-input"></div>
                        <div>&nbsp;до&nbsp;<input type="date" class="form-input"></div>
                    </div>
                    <label for="parameter-select-1" class="top-label">показатель</label>
                    <select class="form-select" id="parameter-select-1">
                        {% for argument in money_arguments %}
                            <option value="{{ argument.code }}">{{ argument.description }}</option>
                        {% endfor %}
                    </select>
                    <div class="button-block">
                        <button type="button" class="btn btn-save">Создать отчет</button>
                    </div>
                </div>
                <a href="#" class="report-block" id="report-2">
                    <p class="report-heading">Отчет по клиентам</p>
                    <p class="big-plus">+</p>
                </a>
                <div class="report-block" id="report-101">
                    <p class="report-heading">Отчет по товарам</p>
                    <label for="report-101" class="top-label">тип отчета</label>
                    <select class="form-select" id="report-select-101">
                        <option>ABC&nbsp;—&nbsp;анализ</option>
                        <option>Группы&nbsp;товара</option>
                        <option>Товарная&nbsp;матрица</option>
                    </select> <label for="period-101" class="top-label">период</label>
                    <select class="form-select" id="period-select-101">
                        {% for period in periods %}
                            <option value="{{ period.value }}">{{ period.label }}</option>
                        {% endfor %}
                    </select>
                    <div class="date-row">
                        <div>c&nbsp;<input type="date" class="form-input"></div>
                        <div>&nbsp;до&nbsp;<input type="date" class="form-input"></div>
                    </div>
                    <label for="parameter-select-101" class="top-label">показатель</label>
                    <select class="form-select" id="parameter-select-101">
                        {% for argument in money_arguments %}
                            <option value="{{ argument.code }}">{{ argument.description }}</option>
                        {% endfor %}
                    </select>
                    <div class="button-block">
                        <button type="button" class="btn btn-save">Создать отчет</button>
                    </div>
                </div>
                <a href="#" class="report-block" id="report-102">
                    <p class="report-heading">Отчет по товарам</p>
                    <p class="big-plus">+</p>
                </a>
            </section>
        </div>

    </div>

    <div hidden id="technical-data">
        <div id="json-cst-reports">{{ json_cst_reports }}</div>
        <div id="json-goods-reports">{{ json_goods_reports }}</div>
        <div id="json-money-arguments">{{ json_money_arguments }}</div>
        <div id="json-time-arguments">{{ json_time_arguments }}</div>
        <div class="report-block" id="report-0">
            <p class="report-heading">Отчет по клиентам</p>
            <label for="report-0" class="top-label">тип отчета</label>
            <select class="form-select" id="report-select-0">
            </select>
            <label for="period-0" class="top-label">период</label>
            <select class="form-select" id="period-select-0">
            </select>
            <div class="date-row">
                <div>c&nbsp;<input type="date" class="form-input"></div>
                <div>&nbsp;до&nbsp;<input type="date" class="form-input"></div>
            </div>
            <label for="parameter-select-0" class="top-label">показатель</label>
            <select class="form-select" id="parameter-select-0">
                {% for argument in money_arguments %}
                    <option value="{{ argument.code }}">{{ argument.description }}</option>
                {% endfor %}
            </select>
            <div class="button-block">
                <button type="button" class="btn btn-close">Закрыть</button>
                <button type="button" class="btn btn-save">Создать отчет</button>
            </div>
        </div>
    </div>
    <script src="{% static 'marketing_report/js/report.js' %}"></script>
{% endblock %}
