{% extends 'header.html' %}
{% load static %}
{% block title %}Отчеты{% endblock %}
{% block content %}
    <div class="full-content">
        <div class="container">
            <section class="report-content">
                <div class="report-block" id="report-1">
                    <p class="report-heading">Отчет по клиентам</p>
                    <label for="report-1" class="top-label">тип отчета</label>
                    <select class="form-select" id="report-select-1" onchange="changeArgumentList(this)">
                        {% for report in cst_reports %}
                            <option value="{{ report.code }}">{{ report.description }}</option>
                        {% endfor %}
                    </select>
                    <label for="period-1" class="top-label">период</label>
                    <select class="form-select" id="period-select-1">
                        {% for period in periods %}
                            <option value="{{ period.value }}">{{ period.label }}</option>
                        {% endfor %}
                    </select>
                    <div class="date-row">
                        <div>c&nbsp;<input type="date" class="form-input"></div>
                        <div>&nbsp;до&nbsp;<input type="date" class="form-input"></div>
                    </div>
                    <label for="parameter-select-1" class="top-label">показатель</label>
                    <select class="form-select" id="parameter-select-1">
                        {% for argument in money_arguments %}
                            <option value="{{ argument.code }}">{{ argument.description }}</option>
                        {% endfor %}
                    </select>
                    <div class="button-block">
                        <button type="button" class="btn btn-close" onclick="reportRemove(this)">Уничтожить отчет
                        </button>
                        <button type="button" class="btn btn-save" onclick="buildReport(this)">Создать отчет</button>
                    </div>
                </div>
                <div onclick="newReport(this, 0)" class="report-block report-block-hoverable" id="report-2">
                    <p class="report-heading">Отчет по клиентам</p>
                    <p class="big-plus">+</p>
                </div>
                <div class="report-block" id="report-10001">
                    <p class="report-heading">Отчет по товарам</p>
                    <label for="report-10001" class="top-label">тип отчета</label>
                    <select class="form-select" id="report-select-10001" onchange="changeArgumentList(this)">
                        {% for report in goods_reports %}
                            <option value="{{ report.code }}">{{ report.description }}</option>
                        {% endfor %}
                    </select> <label for="period-10001" class="top-label">период</label>
                    <select class="form-select" id="period-select-10001">
                        {% for period in periods %}
                            <option value="{{ period.value }}">{{ period.label }}</option>
                        {% endfor %}
                    </select>
                    <div class="date-row">
                        <div>c&nbsp;<input type="date" class="form-input"></div>
                        <div>&nbsp;до&nbsp;<input type="date" class="form-input"></div>
                    </div>
                    <label for="parameter-select-10001" class="top-label">показатель</label>
                    <select class="form-select" id="parameter-select-10001">
                        {% for argument in money_arguments %}
                            <option value="{{ argument.code }}">{{ argument.description }}</option>
                        {% endfor %}
                    </select>
                    <div class="button-block">
                        <button type="button" class="btn btn-close" onclick="reportRemove(this)">Уничтожить отчет
                        </button>
                        <button type="button" class="btn btn-save" onclick="buildReport(this)">Создать отчет</button>
                    </div>
                </div>
                <div onclick="newReport(this, 10000)" class="report-block report-block-hoverable" id="report-1002">
                    <p class="report-heading">Отчет по товарам</p>
                    <p class="big-plus">+</p>
                </div>
            </section>
        </div>

    </div>

    <div hidden id="technical-data">
        <div id="periods">{{ json_period }}</div>
        <div id="json-cst-reports">{{ json_cst_reports }}</div>
        <div id="json-goods-reports">{{ json_goods_reports }}</div>
        <div id="json-money-arguments">{{ json_money_arguments }}</div>
        <div id="json-time-arguments">{{ json_time_arguments }}</div>
        <div class="report-block" id="report-0">
            <p class="report-heading">Отчет по клиентам</p>
            <label for="report-select-0" class="top-label">тип отчета</label>
            <select class="form-select" id="report-select-0" onchange="changeArgumentList(this)">
            </select>
            <label for="period-select-0" class="top-label">период</label>
            <select class="form-select" id="period-select-0">
            </select>
            <div class="date-row">
                <div>c&nbsp;<input type="date" class="form-input"></div>
                <div>&nbsp;до&nbsp;<input type="date" class="form-input"></div>
            </div>
            <label for="parameter-select-0" class="top-label">показатель</label>
            <select class="form-select" id="parameter-select-0">
                {% for argument in money_arguments %}
                    <option value="{{ argument.code }}">{{ argument.description }}</option>
                {% endfor %}
            </select>
            <div class="button-block">
                <button type="button" class="btn btn-close" onclick="reportRemove(this)">Уничтожить отчет</button>
                <button type="button" class="btn btn-save" onclick="buildReport(this)">Создать отчет</button>
            </div>
        </div>
        <div class="report-block" id="report-10000">
            <p class="report-heading">Отчет по товарам</p>
            <label for="report-select-10000" class="top-label">тип отчета</label>
            <select class="form-select" id="report-select-10000" onchange="changeArgumentList(this)">
            </select> <label for="period-select-10000" class="top-label">период</label>
            <select class="form-select" id="period-select-10000">
            </select>
            <div class="date-row">
                <div>c&nbsp;<input type="date" class="form-input"></div>
                <div>&nbsp;до&nbsp;<input type="date" class="form-input"></div>
            </div>
            <label for="parameter-select-10000" class="top-label">показатель</label>
            <select class="form-select" id="parameter-select-10000">
            </select>
            <div class="button-block">
                <button type="button" class="btn btn-close" onclick="reportRemove(this)">Уничтожить отчет</button>
                <button type="button" class="btn btn-save" onclick="buildReport(this)">Создать отчет</button>
            </div>
        </div>

    </div>
    <script src="{% static 'marketing_report/js/report_page.js' %}"></script>
    <script src="{% static 'marketing_report/js/reports.js' %}"></script>
{% endblock %}
